*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text-wrapper{
    text-align: center;
}
.headline{
    font-size: 15rem;
    color: #c59d5f;
    font-weight: 100;
    /* line-height: .4; */
}
.headline::first-letter{
    font-size: 20rem;
}
.sub-headline{
    font-size: 10rem;
    text-transform: uppercase;
    color: #fff;
}
.parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.overflow{
    height: 200vh;
    background-color: yellow;
}